{{ ansible_managed | comment }}

teleport:
  {{ teleport_global | to_nice_yaml(indent=2) | indent(2, False) }} 

auth_service:
  enabled: {{ 'yes' if teleport_auth_enabled | bool else 'no' }}
  {{ teleport_auth_service | to_nice_yaml(indent=2) | indent(2, False) }}

ssh_service:
  enabled: {{ 'yes' if teleport_ssh_enabled | bool else 'no' }}
  {{ teleport_ssh_service | to_nice_yaml(indent=2) | indent(2, False) }}

proxy_service:
  enabled: {{ 'yes' if teleport_proxy_enabled | bool else 'no' }}
  {{ teleport_proxy_service | to_nice_yaml(indent=2) | indent(2, False) }}
